
.meals {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.meals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    margin: 50px 30px;
}

.cart-container{
    color: white;
    margin: 50px 0;
    background-color: rgba(9, 9, 53, 0.925);
}

.cart-info {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.random-btn {
    width: 100%;
    background-color: white;
    color: rgba(9, 9, 53, 0.925);
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    padding: 7px;
    margin: 5px;
}

.random-btn:hover {
    background-color: green;
    color: white;
}

.reset-btn {
    width: 100%;
    background-color: white;
    color: red;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    padding: 7px;
    margin: 10px;
}

.reset-btn:hover {
    background-color: red;
    color: white;
}

/* Media Query */

/* Mobile Device */

@media only screen and (max-width: 480px) {
    .meals {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meals-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
    }
    
    .cart-container {
        width: 280px;
    }
}

/* Tablet Device */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .meals {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .meals-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .random-btn {
        width: 75%;
    }

    .reset-btn {
        width: 75%;
    }
}