
.cart img {
    width: 100px;
    margin-right: 20px;
}

/* Media Query */

/* Mobile Device */

@media screen and (max-width: 480px) {
    .cart {
        width: 300px;
    }
    .cart img {
        width: 100px;
        margin-right: 20px;
    }
}

/* Tablet Device */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .cart {
        width: 600px;
    }
    .cart img {
        width: 100px;
        margin-right: 20px;
    }
}