.product-container {
    border-radius: 8px;
    position: relative;
    width: 300px;
    height: 450px;
    box-shadow: 2px 2px 5px #BABECC, 2px 2px 5px #BABECC;
}

.product {
   padding: 10px;
}

.product img {
    width: 80%;
    border-radius: 8px;
}

.product-info {
    margin-left: 5px;
    position: relative;
}

.product-name {
    font-size: 21px;
    line-height: 25px;
    margin: 10px 0;
}

.product-price {
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.brand-name {
    color: hsl(210deg 100% 44%);
}

.product-button {
    padding: .8rem;
    width: 50%;
    border: none;
    background: hsl(210deg 100% 44%);
    border-radius: 0px 8px 8px 8px;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 18px;
}

/* Math.floor(Math.random() * 13) */


/* Amena */

/* --------------------------
     MEDIA QUERIES
----------------------------- */


/* Mobile Devices */


@media only screen and (max-width: 688px) {
    
    .container{
        width: 100%;
    }
  
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
  
    .player, .blog{
        flex-direction: column;
    }
  }
  
  
  /* Tablet Devices */
  
  
  @media only screen and (min-width: 688px) and (max-width: 992px) {
    
    .container{
        width: 100%;
    }
    
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  /* for format */
  
  /* 
  @media screen and (min-width: 481px) and (max-width: 768px) {
      .header a {
          display: none;
      }
      .header {
          display: flex;
          justify-content: center;
      }
  } 
  */